body {
  margin:0; 
}

nav {
  display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background: #191919;
}
nav h2 {
  color:#ffff;
}

ul {
  list-style: none;
    display: flex;
}
ul li {
  margin-left: 22px;
}
ul li a{
  color: #fff;
  text-decoration: none;
}
ul li a:hover{
  color: #f1d204;
}

img {
  width: 30%;
  border-radius: 10px;
}

.title {
  text-align: center;
  color: #545454;
  margin: 5rem 0;
}
.container {
  padding: 0 80px;
}
.active {
  color: #f1d204;
}
.content {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 80px;
}
.deskripsi {
  width: 40%;
}